.thumbnail {
    width: 100%;
}

.video-grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.video-title{
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;
}

@media (min-width: 1000px) {
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1000px) {
    .video-author,
    .video-stats {
        font-size: 14px;
    }
}

.video-link {
    color: black;
    text-decoration: none;
}

.video-stats,
.video-author {
    color: #606060;
    margin-bottom: 4px;
}

.video-description {
    color: #606060;
    line-height: 22px;
    margin-bottom: 100px;
}

.video-preview {
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 8px;
}
